# Order here is important.  The last thing loaded takes
# precedence, so we want to load all the includes first
# in the order of least to most specific
!include /etc/mysql/conf.d/global-defaults.cnf
!include /etc/mysql/conf.d/5.6-defaults.cnf
!include /etc/mysql/conf.d/wpcom-blog-defaults.cnf

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld1-0.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld1-0.sock

[mysqld]
port            = 3306
pid-file        = /var/run/mysqld/mysqld1-0.pid
socket          = /var/run/mysqld/mysqld1-0.sock
datadir     	= /var/lib/mysql1-0

server-id       = 2
log-bin         = /var/log/mysql1-0/mysql-bin.log
read-only
